*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Container{
  position: absolute;
  display: flex;
  top: 5vw;
 right: 5vw;
}
.dark-mode{
  position: absolute;
  cursor: pointer;
  background-color: hsl(227, 47%, 96%);
}