@import url(https://fonts.google.com/specimen/Inter);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  font-weight:  400, 700;
  font-family: Inter;
}

  .block{
    z-index: -10;
    height: 15vw;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
  }
  .block-bg{
    background: hsl(225, 100%, 98%);
  }
  .block-bg-dark{
    background: hsl(232, 19%, 15%);
  }
  .dark-body{
    background-color: hsl(230, 17%, 14%);
  }
  .dark{
    color: hsl(228, 34%, 66%);
  }
  .dark-white{
    color: white;
  }
  .dark-card{
    background: hsl(228, 28%, 20%);
    color: white;
  }
  .card{
    width: 74vw;
    margin: 2.5vw auto auto;
  }
  .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .head1{
    margin-bottom: 0;
    font-size: 2.2vw;
    display: inline;
  }
  .head2{
    margin-top: 0;
    font-size: 0.9vw;
  }
  .darkmode{
    position: relative;
  }
  .text1{
    display: inline-block;
    position: absolute;
    top: 2.5vw;
    right: 3.8vw;
  }
  .modeswitch{
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 2.3vw;
    right: 0;
  }
  .socialacc{
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2vw;
    text-align: center;
  }
  .facebook{
    /* background: hsl(227, 47%, 96%); */
    border-top: solid 0.5vw hsl(208, 92%, 53%);
    border-radius: 0.4vw;
    padding: 1vw;
  }
  .twitter{
    /* background: hsl(227, 47%, 96%); */
    border-top: solid 0.5vw hsl(203, 89%, 53%);
    border-radius: 0.4;
    padding: 1vw;
  }
  .instagram{
    position: relative;
    /* background: hsl(227, 47%, 96%); */
    border-radius: 0.4px;
    padding: 1vw;
  }
  .line{
    position: absolute;
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    height: 0.5vw;
    width: 17.15vw;
    top: 0;
    left: -0vw;
    border-top-right-radius: 0.4vw;
    border-top-left-radius: 0.4vw;
  }
  .youtube{
    /* background: hsl(227, 47%, 96%); */
    border-top: solid 0.5vw hsl(348, 97%, 39%);
    border-radius: 0.4vw;
    padding: 1vw;
  }
  .t1{
    padding-bottom: 0.8vw;
    font-size: 1vw;
    position: relative;
  }
  .logo{
    position: relative;
    top: 0.5vw;
    right: 0.6vw;
    height: 1.4vw;
  }
  .t2{
    margin:  auto;
    font-size: 3vw;
    font-weight: 700;
    padding-bottom: 0.8vw;
  }
  .t3{
    font-size: 1vw;
    margin-top: 0;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    margin-bottom: 0.8vw;
  }
  .t4{
    font-size: 0.8vw;
    font-weight: 700;
    margin-bottom: 0.5vw;
  }
  .red{
    color: hsl(356, 69%, 56%);
    font-weight: 700;
    
  }
  .green{
    color: hsl(163, 72%, 41%);
    font-weight: 700;
  }
  .arrow{
    display: inline-block;
    position: relative;
  }
  .bold{
    font-size: 2.4vw;
    font-weight: 700;
    margin: 0;
  }
  .shade{
    color: hsl(228, 12%, 44%);
    font-weight: 600;
    padding-bottom: 1vw;
  }
  .subhead{
    margin-top: 2vw;
    margin-bottom: 1.3vw;
    font-size: 1.8vw;
    color: hsl(228, 12%, 44%);
    font-weight: 700;
  }
  .overview{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    width: 74vw;
  }
  .overview-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
   padding: 1vw;
    /* background: hsl(227, 47%, 96%); */
    border-radius: 0.5vw;
    width: 16.5vw;
  }
  .background-white{
    background: hsl(227, 47%, 96%);
    width: 16.5vw;
  }
  .align-right{
    text-align: right;
  }
  .logo1{
    height: 1.6vw;
  }
  .attribution{
    position: absolute;
    display: block;
    width: 99%;
    margin: auto;
    bottom: 1vw;
  }
  
  /* Togglebutton */
  /* The switch - the box around the slider */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 3vw;
    height: 1.7vw;
  }
  
  /* Hide default HTML checkbox */
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:hover{
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height:1.17vw;
    width: 1.17vw;
    left: 0.3vw;
    bottom: 0.3vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
  
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0.1vw #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.17vw);
    -ms-transform: translateX(1.17vw);
    transform: translateX(1.17vw);
  }
  
  
  /* Rounded sliders */

  .slider.round {
    border-radius: 1vw;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .mobileline{
    display: none;
  }
  
  .facebook.background-white:hover{
    background: hsl(227, 47%, 92%);
  }
  .twitter.background-white:hover{
    background: hsl(227, 47%, 92%);
  }
  .instagram.background-white:hover{
    background: hsl(227, 47%, 92%);
  }
  .youtube.background-white:hover{
    background: hsl(227, 47%, 92%);
  }
  .overview-items.background-white:hover{
    background: hsl(227, 47%, 92%);
  }
  .facebook.dark-card:hover{
    background: hsl(228, 28%, 24%);
  }
  .twitter.dark-card:hover{
    background: hsl(228, 28%, 24%);
  }
  .instagram.dark-card:hover{
    background: hsl(228, 28%, 24%);
  }
  .youtube.dark-card:hover{
    background: hsl(228, 28%, 24%);
  }
  .overview-items.dark-card:hover{
    background: hsl(228, 28%, 24%);
  }



  /*
     Media Query
                 */
  @media (max-width: 400px) {
    
    body{
      margin: 0;
      padding: 0;
      font-weight:  400, 700;
      font-family: Inter;
    }
    
      .block{
        z-index: -10;
        height: 50vw;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-left-radius: 6vw;
        border-bottom-right-radius: 6vw;
      }
      
      .card{
        width: 85vw;
      }
      .header{
        display: grid;
        grid-template-columns: 1fr;
      }
      .head1{
        margin-bottom: 0;
        font-size: 6vw;
      }
      .head2{
        margin-top: 0;
        font-size: 1.5vw;
      }
      .mobileline{
        display: block;
        width: 99%;
        margin: auto;
        height: 0.4vw;
        border-radius: 1px;
        background: hsl(228, 12%, 44%);
      }
      .darkmode{
        position: relative;
      }
      .text1{
        display: inline-block;
        position: absolute;
        top: 5vw;
        left: 2vw;
        margin-bottom: 5vw;
      }
      .modeswitch{
        display: inline-block;
        position: absolute;
        margin: 0;
        top: 5vw;
        right: 7vw;
        margin-bottom: 5vw;
      }
      .socialacc{
        margin-top: 12vw;
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 5vw;
        text-align: center;
      }
      .facebook{
        /* background: hsl(227, 47%, 96%); */
        border-top: solid 1.5vw hsl(208, 92%, 53%);
        border-radius: 2vw;
        padding: 2vw;
      }
      .twitter{
        /* background: hsl(227, 47%, 96%); */
        border-top: solid 1.5vw hsl(203, 89%, 53%);
        border-radius: 2vw;
        padding: 2vw;
      }
      .instagram{
        position: relative;
        /* background: hsl(227, 47%, 96%); */
        border-radius:2vw;
        padding: 2vw;
      }
      .line{
        position: absolute;
        background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
        height: 1.5vw;
        width: 80vw;
        top: 0;
        left: -0vw;
        border-top-right-radius: 2vw;
        border-top-left-radius: 2vw;
      }
      .youtube{
        /* background: hsl(227, 47%, 96%); */
        border-top: solid 2vw hsl(348, 97%, 39%);
        border-radius: 2vw;
        padding: 4vw;
      }
      .t1{
        padding-bottom: 3vw;
        font-size: 4vw;
        position: relative;
      }
      .logo{
        position: relative;
        top: 2.5vw;
        right: 3vw;
        height: 6vw;
      }
      .t2{
        margin:  auto;
        padding-top: 3vw;
        font-size: 10vw;
        font-weight: 700;
        padding-bottom: 3vw;
      }
      .t3{
        font-size: 3.5vw;
        margin-top: 0;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.3vw;
        margin-bottom: 3vw;
      }
      .t4{
        font-size: 2.5vw;
        font-weight: 700;
        margin-bottom: 3vw;
      }
  
      .bold{
        font-size: 6vw;
        font-weight: 700;
        margin: 0;
      }
      .shade{
        color: hsl(228, 12%, 44%);
        font-weight: 600;
        padding-bottom: 4vw;
        font-size: 4vw;
      }
      .subhead{
        padding-top: 6vw;
        padding-bottom: 3vw;
        font-size: 2vw;
        color: hsl(228, 12%, 44%);
        font-weight: 700;
        width: 80vw;
        margin: auto;
      }
      .overview{
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 2vw;
        width: 80vw;
        margin: auto;
      }
      .overview-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
       padding: 4vw;
        /* background: hsl(227, 47%, 96%); */
        border-radius: 2vw;
        width: 80vw;
      }
      .background-white{
        background: hsl(227, 47%, 96%);
        width: 80vw;
        margin: auto;
      }
      .align-right{
        text-align: right;
      }
      .logo1{
        height: 6vw;
      }
      .attribution{
        position: absolute;
        display: block;
        width: 99%;
        margin: auto;
        bottom: 1vw;
        top:800vw
      }
      
      /* Togglebutton */
      /* The switch - the box around the slider */
      
      .switch {
        position: relative;
        display: inline-block;
        width: 9vw;
        height: 5vw;
      }
      
      /* Hide default HTML checkbox */
      
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      .slider:hover{
        background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height:4vw;
        width: 4vw;
        left: 0.6vw;
        bottom: 0.6vw;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        /* background-color: #2196F3; */
      
        background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
      }
      
      input:focus + .slider {
        box-shadow: 0 0 0.4vw #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(3.5vw);
        -ms-transform: translateX(3.5vw);
        transform: translateX(3.5vw);
      }
      
      
      /* Rounded sliders */
    
      .slider.round {
        border-radius: 4vw;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
  
      
     
   
  }

